/.vscode
/bench
/build
/data
/data_prepare/faiss_gt.sh
/evaluation
/exp_scripts
/gts
/indexes
/logs
/thirdparty
/.clang-format
/cagra_run.sh
/prepare.sh

/include/cagra.h
/include/candidates.h
/include/faiss_streamer.cuh
/include/test.h
/include/sample.cuh
/include/test.h

/src/cagra.cu
/src/candidates.cpp
/src/faiss_streamer.cu
/src/sample_old.cu
/src/search_disk.cu
/src/test.cpp
/src/test.cu
/src/upd_gig.cu
/src/upd_test.cpp
/src/upd.cu

/tests/faiss_gt.cu
/tests/faiss_pq.cu
/tests/test_cagra.cu
/tests/test_faiss.cu